*{
    box-sizing: border-box;
}

body {
    background-color: rgb(134, 134, 134);
}

#titulo {
    background-color: steelblue;
    color:#000000;
    border: 5px solid #000000;
    border-radius: 20px;
    width:1000px;
    position: center;
}

.conteudo {
    background-color: #fdfdfd;
    border: 5px solid #000000;
    padding: 10px;
    border-radius: 20px;
    height: 400px;
    width: 1000px;
}

p {
    color:#000000;
    font-size:20px;
    font-weight:bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 40px;
    margin-top: 50px;
    margin-left: 150px;
}

p1 {
    position: absolute;
    color:#000000;
    font-size:17px;
    font-weight:bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 40px;
    margin-left:-100px;
}

p2 {
    color: #000000;
    font-size:20px;
    font-weight:bold;
    font-family: Comic Sans MS;
    text-align: justify;
    text-transform: lowercase;
    word-spacing: 20px;
    text-shadow: 0px 0px 20px #FF0000;
}

.imagem {
    position: static;
    width:200px;
    margin-top: -50px;
    margin-left: -500px;
    border-radius: 10px;
}